/* shared style */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.btn_primary{
    color: #FFFFFF;
    margin-top: 32px;
    padding: 20px 25px;
    font-size: 1.25rem;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
/* Header section styling */
header{
    background-color: #FF900E1A; 
    padding: 50px 240px;
}
/* nav section styling */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .banner_title{
    color: #131313;
    font-size: 3rem;
}
nav > ul{
    display: flex;
    gap: 3rem
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: #424242;
    font-size: 1.2rem;
    font-weight: 500;
    
}
/* Banner content styling */
.banner_content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding: 116px 0 50px;
}
.banner_title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner_description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.banner_img{
    width: 100%;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* Team section styling */
.teams_container{
    display: flex;
    align-items: center;
    gap: 73px;
}
.team_img_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin: 80px 0 130px;
}
.team_content{
    padding-right: 60px;
}
.team_title{
    max-width: 468px;
    margin-bottom: 1.5rem;
    font-size: 2.8rem;
    font-weight: 500;
}
.text_quick_list{
    color: #727272;
}
.text_of_our{
    color:#131313;
    font-weight: 700;
}
.text_features{
    color: #FF900E;
    font-weight: 700;
}
.team_description{
    color: #727272;
    line-height: 26px;
}
/* Responsive Design */

@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    nav ul{
        gap: 1rem;
    }
    
}
@media screen and (min-width: 576px) and (max-width:992px){
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
}