/* shared style */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.text_light_gray{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.btn_primary{
    color: #FFFFFF;
    margin-top: 32px;
    padding: 20px 25px;
    font-size: 1.25rem;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
/* Header section styling */
header{
    background-color: #FF900E1A; 
    padding: 50px 240px;
}
/* nav section styling */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .nav_title{
    color: #131313;
    font-size: 3rem;
}
nav > ul{
    display: flex;
    gap: 3rem
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: #424242;
    font-size: 1.2rem;
    font-weight: 500;
    
}
/* Banner content styling */
.banner_content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding: 116px 0 50px;
}
.banner_title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner_img{
    width: 100%;
}
main, .container{
    max-width: 1440px;
    margin: 0 auto;
}
/* Team section styling */
.teams_container{
    display: flex;
    align-items: center;
}
.team_img_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 0 60px;
    margin: 80px 0 130px;
}
.team_content{
    padding: 0 60px;
}
.team_title{
    max-width: 468px;
    margin-bottom: 1.5rem;
    font-size: 2.8rem;
    font-weight: 500;
}
.text_quick_list{
    color: #727272;
}
.text_of_our{
    color:#131313;
    font-weight: 700;
}
.text_features{
    color: #FF900E;
    font-weight: 700;
}
/* Facts section styling */
.facts{
    padding: 0 80px;
    margin-bottom: 180px;
}
.facts_title{
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.facts_description{
    max-width: 542px;
}
.facts_card_container{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
    margin-top: 6.25rem;
    
}
.facts_item{
    max-width: 240px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 45px 35px 59px;
    margin: 0 auto;
}
.facts_item .stats{
    font-size: 2.5rem;
    margin-top: 10px;
}
.facts_item .card_title{
    color: #727272;
    font-weight: 600;
}

/* Our Sponspors section styling */
.sponsors{
    text-align: center;
}
.sponsors_title{
    font-size: 3rem;
}
.sponsors_description{
    max-width: 542px;
    padding: 0 5px;
    margin: 24px auto 50px;
}
.sponsors_img_container{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 130px;
}
.sponsors_img_container  > img{
    width: 162px;
    filter: grayscale(100);
    cursor: pointer;
}
.sponsors_img_container  > img:hover{
    filter: grayscale(0);
}
/* footer section styling */
.footer_container{
    background-color: #FFF4E7;
    text-align: center;
    color: #424242;
    font-size: 1.25rem;
    padding: 38px;
}
/* Responsive Design */

@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav, 
    .teams_container,
    .facts_card_container,
    .sponsors_img_container
    {
        flex-direction: column;
    }
    nav ul{
        gap: 1rem;
    }
    .team_img_container{
        grid-template-columns: 1fr;
        padding: 0 20px;
        
    }

    .team_content,
    .facts_card_container{
        padding: 0 20px;
    }
    .facts{
        padding: 0 20px;
    }
    .facts_card_container{
        gap: 20px;
    }
}
@media screen and (min-width: 576px) and (max-width: 992px){
    header{
        padding: 50px;
    }
    nav,
    .teams_container
    {
        flex-direction: column;
    }
    
    .facts_card_container{
        gap: 20px
    }
    .sponsors_img_container{
        gap: 10px;
    }
}